body
{
	font-family: Verdana, sans-serif;
	background-color: #777;
	margin: 0;
	padding: 0;
}


#content
{
	max-width: 70em;
	padding: 2em;
	min-height: 100vh;
	background-color: #FFF;
	margin: auto;
	box-sizing: border-box;
}


button
{
    border:1px solid #FFF;
    color: #fff;
    border-radius: 3px;
    padding:0.35em 1.2em;
    background-color: rgba(0,0,0,0);
}

button:disabled
{
    border-color: #555;
    color: #555;
}

button:hover:disabled
{
    color: #555;
    background-color: rgba(0,0,0,0);
}

button:hover
{
    background-color: #FFF;
    color: #000;
}

#footer
{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: white;
    text-align: center;
}

a.button:link, a.button:visited
{
    background-color: #f44336;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a.button:hover, a.button:active
{
    background-color: red;
}
