- var title = ''
block variables

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet' href='res/css/style.css')
		link(rel='icon' href='res/images/favicon.png')
		title #{title} - Tamalo!
		block head
	body
		#content
			block content
		#footer
			p Website still very much under construction, and not intended for public use yet.
			p You can contact me at: overclockedsanic@protonmail.com
